<h1>Article list</h1>


<div class="articles">
  <% @articles.each do |article| %>
    <div class="article">
      <li class="title"><%= link_to article.title, article_path(article) %></li>
      <li class="content"> <em><%= article.content %></em></li>
    </div>
  <% end %>
</div>

<p class="btn"><%= link_to 'New article', new_article_path %></p>
